# =========================
# Visual Studio user files
# =========================
.vs/

# =========================
# Compiled Object files
# =========================
*.slo
*.lo
*.o
*.obj

# =========================
# Precompiled Headers
# =========================
*.gch
*.pch

# =========================
# Compiled Dynamic libraries
# =========================
*.so
*.dylib
*.dll

# =========================
# Compiled Static libraries
# =========================
*.lai
*.la
*.a
*.lib

# =========================
# Executables
# =========================
*.exe
*.out
*.app
*.ipa

# =========================
# Generated project files
# =========================
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# =========================
# Precompiled Assets
# =========================
RGB_Wars/SourceArt/**/*.png
RGB_Wars/SourceArt/**/*.tga

# =========================
# Binary Files (generated)
# =========================
RGB_Wars/Binaries/
RGB_Wars/Plugins/**/Binaries/

# =========================
# Builds / packaged output
# =========================
RGB_Wars/Build/

# Whitelist PakBlacklist files
!RGB_Wars/Build/*/
RGB_Wars/Build/*/**
!RGB_Wars/Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!RGB_Wars/Build/**/*.ico

# =========================
# Built map data (generated)
# =========================
*_BuiltData.uasset

# =========================
# Saved (logs, cooked, autosaves, etc.)
# =========================
RGB_Wars/Saved/
RGB_Wars/Saved/Cooked/
RGB_Wars/Saved/StagedBuilds/
RGB_Wars/Saved/Logs/
RGB_Wars/Saved/Crashes/
RGB_Wars/Saved/Autosaves/
RGB_Wars/Saved/Backup/

# =========================
# Intermediate files
# =========================
RGB_Wars/Intermediate/
RGB_Wars/Plugins/**/Intermediate/

# =========================
# Derived Data Cache
# =========================
RGB_Wars/DerivedDataCache/
